* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Times New Roman", Times, serif;
  color: inherit;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  gap: 20px;
}

.fa-brands {
  font-size: 50px;
  border: 1px solid white;
  border-radius: 50%;
}

.fa-brands:hover {
  background-color: #0085A1;
  border: 1px solid #0085A1;
}

.icons_text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.icons_text p {
  font-size: 20px;
}

.nav_header {
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
}
.nav_header .nav1 {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.nav_header .nav1 h3 {
  color: white;
  font-size: 25px;
}
.nav_header .nav1 h3:hover {
  color: rgb(160, 159, 159);
}
.nav_header .nav2 {
  width: 50%;
}
.nav_header .nav2 ul {
  color: white;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
  font-weight: bold;
  font-size: 15px;
}
.nav_header .nav2 a {
  color: white;
  text-decoration: none;
}
.nav_header .nav2 a:hover {
  color: rgb(160, 159, 159);
}
.nav_header .btn {
  display: none;
}

@media only screen and (max-width: 991px) {
  .class {
    color: black !important;
  }
  .nav_header {
    background-color: white;
  }
  .nav_header .btn {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav_header .btn a {
    text-decoration: none;
  }
  .nav_header .nav2 {
    display: none;
  }
}
.hero_contact {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  gap: 15px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.43)), url(https://startbootstrap.github.io/startbootstrap-clean-blog/assets/img/contact-bg.jpg);
  background-position: center;
  background-size: cover;
}
.hero_contact .info_contact {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero_contact .info_contact h3 {
  color: white;
  font-size: 80px;
  letter-spacing: 10px;
}
.hero_contact .info2_contact {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero_contact .info2_contact p {
  color: white;
  font-size: 25px;
}

@media only screen and (max-width: 600px) {
  .hero_contact .info_contact h3 {
    font-size: 40px;
  }
  .hero_contact .info2_contact p {
    font-size: 20px;
  }
}
.hero2_contact .text_contact {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0px auto;
  margin-top: 50px;
}
.hero2_contact .text_contact .text1_contact {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.hero2_contact .text_contact .text1_contact p {
  font-size: 22px;
}
.hero2_contact .form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 40px;
}
.hero2_contact .form .form_input {
  border-style: none;
  padding-top: 30px;
  border-bottom: 1px solid rgb(206, 206, 206);
  font-size: 25px;
  max-width: 50%;
}
.hero2_contact .form .textarea {
  padding-top: 30px;
  border-style: none;
  border-bottom: 1px solid rgb(206, 206, 206);
  font-size: 25px;
  max-width: 310px;
  resize: vertical;
}
.hero2_contact .form .btn_div {
  width: 100px;
  height: 60px;
  border-color: white;
  background-color: rgb(89, 176, 194);
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero2_contact .form .btn_div .contact_btn {
  border-style: none;
  font-size: 30px;
  background-color: rgb(89, 176, 194);
  color: white;
}

.hero_home {
  flex-direction: column;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 600px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.43)), url(https://startbootstrap.github.io/startbootstrap-clean-blog/assets/img/home-bg.jpg);
  background-size: cover;
  background-position: center;
}
.hero_home .info_home {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}
.hero_home .info_home h3 {
  font-size: 80px;
  letter-spacing: 10px;
  color: white;
}
.hero_home .info2_home {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero_home .info2_home p {
  color: white;
  font-size: 25px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .hero_home .info_home h3 {
    font-size: 40px;
  }
  .hero_home .info2_home p {
    font-size: 20px;
  }
}
.hero2_home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  margin: 0px auto;
  margin-top: 50px;
}
.hero2_home .text_home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero2_home .text_home .text1_home {
  width: 80%;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  gap: 10px;
  color: black;
  border-bottom: 1px solid black;
}
.hero2_home .text_home .text1_home h3 {
  text-align: left;
  font-size: 35px;
}
.hero2_home .text_home .text1_home h3 a:hover {
  color: #0085A1;
}
.hero2_home .text_home .text1_home p {
  font-size: 30px;
}
.hero2_home .text_home .text1_home p a:hover {
  color: #0085A1;
}
.hero2_home .text_home .text1_home span {
  font-size: 20px;
}
.hero2_home .text_home .text1_home span a:hover {
  color: #0085A1;
}
.hero2_home .text_home .home_btn {
  width: 200px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  background-color: #0085A1;
  color: white;
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}
.hero2_home .text_home .home_btn a:hover {
  color: #0d5d6d;
}

.hero_about {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  gap: 15px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.43)), url(https://startbootstrap.github.io/startbootstrap-clean-blog/assets/img/about-bg.jpg);
  background-position: center;
  background-size: cover;
}
.hero_about .info_about {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero_about .info_about h3 {
  color: white;
  font-size: 80px;
  letter-spacing: 10px;
}
.hero_about .info2_about {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero_about .info2_about p {
  color: white;
  font-size: 25px;
}

@media only screen and (max-width: 600px) {
  .hero_about .info_about h3 {
    color: black;
    font-size: 40px;
  }
  .hero_about .info2_about p {
    color: black;
    font-size: 20px;
  }
}
.hero2_about {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  margin-top: 70px;
  margin-bottom: 50px;
}
.hero2_about .text_about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero2_about .text_about .text1_about {
  width: 100%;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 30px;
}
.hero2_about .text_about .text1_about p {
  opacity: 0.8;
  font-size: 25px;
}

.hero_post {
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  gap: 15px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.43)), url(https://startbootstrap.github.io/startbootstrap-clean-blog/assets/img/post-bg.jpg);
  background-position: center;
  background-size: cover;
}
.hero_post .info_post {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55%;
}
.hero_post .info_post h3 {
  color: white;
  font-size: 63px;
  letter-spacing: 5px;
}
.hero_post .info2_post {
  width: 55%;
}
.hero_post .info2_post p {
  color: white;
  font-size: 32px;
}
.hero_post .info3_post {
  width: 55%;
  padding-top: 20px;
}
.hero_post .info3_post p {
  color: white;
  font-size: 20px;
}
@media only screen and (max-width: 600px) {
  .hero_post .hero_post .info_post h3 {
    font-size: 40px;
  }
  .hero_post .hero_post .info2_post p {
    font-size: 20px;
  }
  .hero_post .hero_post .info3_post p {
    font-size: 20px;
  }
}

.hero2_post .text_post {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0px auto;
  padding-top: 80px;
}
.hero2_post .text_post .text1 {
  width: 65%;
  padding-bottom: 40px;
}
.hero2_post .text_post .text1 p {
  font-size: 23px;
}
.hero2_post .text_post .text1 h3 {
  font-size: 35px;
}
.hero2_post .text_post .text1 a:hover {
  color: #1ABC9C;
}
.hero2_post .diff {
  opacity: 0.5;
}
.hero2_post .img_post {
  width: 80%;
  text-align: center;
}
.hero2_post .img_post img {
  width: 100%;
  height: 100%;
}
.hero2_post .img_post span {
  opacity: 0.7;
  font-size: 15px;
}/*# sourceMappingURL=main.css.map */